/* font css */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

i {
    font-size: 2rem;
    
}

#calculator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 15em 1fr;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.1);
}

#calc-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#calc-top button {
    background-color: transparent;
    box-shadow: none;
    width: fit-content;
    padding: 0;
    margin: 0;
}

#calc-top i {
    font-size: 2.5rem;
    padding: 20px;
    position: relative;
    top: 10px;
}

#dark-mode {
    color: #ffc467;
}

#light-mode {
    color: #4077c3;
}

#history {
    height: 100%;
    width: auto;
}

#screen {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 12px;
    margin-bottom: 25px;
    position: relative;
}

#prev-input {
    font-family: "Poppins", sans-serif;
    max-width: 375px;
    overflow-x: auto;
    position: absolute;
    bottom: 100px;
    right: 25px;
    font-size: 2.5rem;
    text-align: right;
    color: #504e56;
}

#relay-input {
    font-family: "Poppins", sans-serif;
    max-width: 375px;
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 4.5rem;
    text-align: right;
}

#numpad {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 15px 20px 15px;
    box-shadow: 0 -5px 10px .5px rgb(0, 0, 0, 0.1);
    border-radius: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    height: 100%;
}

button {
    border: none;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 0 4px 4px .1px rgb(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;
}

button:hover {
    background-color: #dddddd;
}

button:focus {
    outline: none;
}

#reset-screen div {
    height: 100%;
    width: 100%;
}

.operations {
    background-color: #ffc467;
}

.operations:hover {
    background-color: #e8a852;
}

/* dark mode */
#calculator.dark-mode {
    background-color: #1b1b1d;
}

#numpad.dark-mode {
    background-color: #201f22;
    border-top: solid 1px #78767c;
}

#prev-input.dark-mode {
    color: #e8e8e8;
}

#relay-input.dark-mode {
    color: white;
}

button.dark-mode {
    box-shadow: none;
    background-color: #656062;
    color: white;
}

button.dark-mode:hover {
    background-color: #403b3d;
}

.operations.dark-mode {
    background-color: #4077c3;
}

.operations.dark-mode:hover {
    background-color: #245198;
}

@media screen and (min-width: 425px) {
    #body {
        position: relative;
        padding: 10px;
    }

    #calculator {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -415px;
        margin-left: -212.5px;
        max-width: 425px;
        max-height: 830px;
        border: solid 1px #dddddd;
        border-radius: 15px;
    }
}